.git
.github
.dvc/cache
data/raw
data/processed
data/features
reports/*.png
reports/classification_report.json
reports/data_validation_report.json
tests
docs
monitoring
*.md
__pycache__
*.pyc
.pytest_cache
.venv
venv
mlruns
